/*******************************************************************************
 * _base.scss

 * Base styles define the default look.
 *
 * These rules will generally be made up of element selectors for HTML elements
 * such as headings, paragraphs and lists. Common elements such as form
 * items, collapsible fieldsets and messages should be included in this partial.
 *
 * The styleguide module (http://drupal.org/project/styleguide) gives you a good
 * overview of Drupals common elements for styling. By setting a solid baseline
 * before adding any more specific customisations you ensure that as any new
 * features are added they will be correctly styled without any extra work.
 ******************************************************************************/

body {
  font-family: $font;
  color: $body-color;
  font-size: 15px;
  line-height: 23px;
}

h1 {
  font-size: 76px;
  line-height: 79px;
  margin-bottom: 35px;

  span {
    color: $body-accent;
  }
}

h1.logo {
  font-family: $bold;
  font-size: 26px;
  color: #fff;
}


h2, h3 {
  font-family: $bold;
  font-weight: bold;
  margin-bottom: 0.5em;
}

h2 {
  font-size: 40px;
  line-height: 47px;
  margin-top: 1em;
}

h2:first-child {
  margin-top: 0;
}

header h2  {
  font-family: $font;
  font-weight: normal;
  font-size: 22px;
  line-height: 28px;
  color: $blue;
}

h3 {
  font-size: 22px;
  line-height: 22px;
  letter-spacing: -1px;
  text-align: center;
}

p {
  margin-bottom: 1em;
}

hr {

}

a,
a:hover {
  text-decoration: none;
  color: $blue;
}

nav a,
nav a:hover {
  font-family: $bold;
  font-weight: bold;
  letter-spacing: -1px;
  color: $body-color;
  display: inline-block;
  margin-right: 45px;

  @media all and (max-width: 768px) {
    display: block;
    margin-right:0;
    line-height: 44px;
    border-bottom: 1px solid $body-accent;
    padding-left: 44px;
  }
}

nav a:hover {
  color: $blue;
}

footer .logo {
  color: $body-color;
}

footer nav a,
footer nav a:hover {
  font-family: $font;
  font-weight: normal;
  color: #b7aba5;
}

footer nav a:hover {
  color: $blue;
}

.box {
  background: #fff;
  border: 6px solid $body-color;
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 11px;
  width: 90px;
  height: 62px;

  font-family: $bold;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  line-height: 62px;
  letter-spacing: -1px;
}

.small {
  font-size: 16px;
}

.danger {
  border-color: $red;
  color: $red;
}

.warn {
  border-color: $orange;
  color: $orange;
}

.ok {
  border-color: $blue;
  color: $blue;
}



