/*******************************************************************************
 * _components.scss
 *
 * Imports more partials that contain full components (modules in SMACSS), their
 * sub-components and modifiers.
 *
 * Components are discrete parts of your page that should sit within the regions
 * of your layouts. You should try to abstract your components as much as
 * possible to promote reuse throughout the theme. Components should be flexible
 * enough to respond to any width and should never rely on context
 * (e.g. .sidebar-first .component) for styling. This allows modules to be
 * placed throughout the theme with no risk of them breaking.
 *
 * If you find you need to change the look of a component depending on it's
 * context you should avoid using context based classes at all costs. Instead it
 * is better to add another "modifier" class to the component to alter the
 * styling. Again, this promotes reuse.
 *
 * Sub-components are the individual parts that make up a component. As a
 * general rule, adding a class to target a sub-component is a much better
 * option than using descendant selectors or element selectors. In many cases
 * sub-components can be made more reusable by making them components in their
 * own right, so they can then be used within other components.
 *
 * Almost everything that doesn't belong in base should be made a component.
 * Here's some common examples throughout Drupal:
 *
 * - Blocks
 * - Content Types - For example, you may have a generic node component that
 *      contains sub-components for the submitted by line and links. Specific
 *      components can then be created for each content type to style the
 *      specifics of each. Finally, by using entity view modes you can easily
 *      apply modifications based on the .node-[view-mode] classes.
 * - Forms - For instance the log in form.
 * - Views - Each views output style could be made into a component, the content
 *       of each row should be provided my a view mode styled by it's component
 *       CSS. Exposed filter forms, views pagers and other views elements are
 *       also good candidates for components.
 ******************************************************************************/

 /* Boxes ------------------------------------------------------------------- */

.box,
form input[type=submit] {
  background: #fff;
  border: 6px solid $body-color;
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 11px;
  width: 90px;
  height: 62px;

  font-family: $bold;
  font-size: 20px;
  text-align: center;
  line-height: 62px;
  letter-spacing: -1px;
}

.small {
  font-size: 16px;
}

.danger {
  border-color: $red;
  color: $red;
}

.warn {
  border-color: $orange;
  color: $orange;
}

.ok {
  border-color: $blue;
  color: $blue;
}


/* Navigation --------------------------------------------------------------- */

nav a,
nav a:hover {
  font-family: $bold;
  color: $body-color;
  display: inline-block;
  margin-right: 45px;
  padding-top: 15px;

  @media all and (max-width: 768px) {
    display: block;
    margin-right:0;
    line-height: 44px;
    border-bottom: 1px solid $body-light;
    padding-top: 0;
    padding-left: 30px;
    background: #fff;
  }
}

nav a:last-child {
  @media all and (max-width: 768px) {
    border-bottom-width: 0px;
  }
}

nav a:hover {
  color: $blue
}

nav a.selected {
  border-top: 5px solid #f15a24;
  padding-top: 10px;
}


.nav {
  @media all and (max-width: 768px) {
    background: #fff;
    padding: 0 15px 0 20px;
  }
}

.nav .in {
  padding: 0px 0 60px;
  margin-bottom: 0;

  @media all and (max-width: 768px) {
    padding-bottom: 0px;
  }
}

.subnav {
  border-top: 5px solid $pink;
  padding-top: 1em;
  padding-bottom: 1em;
}

.subnav li {
  list-style-type: none;
}

.subnav a,
.subnav a:hover {
  font-family: $font;
  font-weight: normal;
  color: $blue;
}

.subnav li:hover,
.subnav .selected {
  list-style-type: circle;
}

.subnav .selected,
.subnav .selected a,
.subnav .selected a:hover {
  color: $red;
}

/* Case studies ------------------------------------------------------------- */

h1.case {
  font-family: $bold;
  font-size: 12px;
  text-transform: uppercase;
  margin: 0;
  line-height: 1em;
  letter-spacing: 1px;
  padding-left: 6px;
}

.case .quote {
  font-size: 24px;
  line-height: 30px;
  color: #ffad00;
  text-align: left;
  margin-bottom: 16px;
}


/* Home --------------------------------------------------------------------- */
.home header .b {
  overflow: auto;
}

.home .iphone {
  height: 550px;
  width: 708px;

  position: absolute;
  background: transparent url(../img/iphone.svg) no-repeat center center;
  background-size: auto 100%;

  @media all and (max-width: 1999px) {
    width: 500px;
  }

  @media all and (max-width: 1119px) {
    width: 390px;
    height: 500px;
  }

  @media all and (max-width: 899px) {
    width: 300px;
    height: 425px;
  }

  @media all and (max-width: 768px) {
    width: auto;
  }
}

.home .graphs {
  clear: both;
  background: transparent url(../img/graphs.svg) no-repeat center bottom;
  background-size: 80%;
  padding-bottom: 28%;
}


/* Factoids ----------------------------------------------------------------- */
.factoid {
  font-size: 36px;
  margin-bottom: 50px;
  color: $red;
}

.factoid .number {
  font-size: 150px;
  line-height: 1em;
  display: block;
}

.factoid.orange {
  color: $orange;
}

hr.pointer {
  border: 0px none;
  border-top: 6px solid $red;
  position: relative;
  top: 100px;
  left: 10em;
  z-index: 100;
  width: 120%;

  @media all and (max-width: 768px) {
    width: 100%;
    top: 0;
    left: 0;
  }
}


/* Header ------------------------------------------------------------------- */
header .in {
  overflow: visible;
}

header .logo a,
footer .logo a {
  position: relative;
  z-index: 100;

  left: -53px;
  display: inline-block;
  height: 112px;
  width: 281px;
  background: transparent url(../img/logo.png) no-repeat left center;
  background-size: auto 112px;
  text-indent: -99999px;

  @media all and (max-width: 768px) {
    left: -20px;
  }
}


/* Signup link -------------------------------------------------------------- */

.signup,
.signup:hover {
  font-family: $bold;
  font-size: 40px;
  line-height: 70px;

  background: #ffad00;
  color: #fff;

  display: block;
  margin-top: 375px;
  margin-bottom: 115px;
  padding: 0 20px;
}

.b .signup {
  display: none;
}

@media all and (max-width: 768px) {
  .a .signup {
    display: none!important;
  }

  .b .signup {
    font-size: 32px;
    line-height: 60px;
    display: block;
    margin: 0 50px 0 0;
  }
}



/* Footer ------------------------------------------------------------------- */
footer .in {
  overflow: visible;
  padding-top: 0;
}

footer .logo {
  float:left;
}

footer nav {
  float: right;
  text-align: right;
  margin-bottom: 2em;
  margin-top: 50px;
}

footer .logo,
footer nav {
  @media all and (max-width: 768px) {
    margin-top: 0;
    float: none;
    text-align: left;
  }
}

footer nav a,
footer nav a:hover {
  font-family: $font;
  font-weight: normal;
  color: #b7aba5;

  @media all and (max-width: 768px) {
    line-height: 44px;
  }
}

footer nav a:hover {
  color: $blue;
}

footer .social {
  padding-left: 40px;

  @media all and (max-width: 768px) {
    padding: 0;
  }
}

footer .social a:last-child {
  margin-right: 0;
}


/* Partners------------------------------------------------------------------ */
.partners {
  text-align: center;
}

.partner-item {
  display: inline-block;
  padding: 10px 17px 0 17px;
  height: 70px;
}

.partners {
  :first-child {
    padding-left: 0;
  }

  :last-child {
    padding-right: 0;
  }
}

img.partner-logo {
  display: inline-block;
  max-width: 300px;
  min-width: 40px;
  height: 50px;
}

#houston {
  height: 70px;
}

#uchicago {
  height: 30px;
  padding-bottom: 20px;
}

#mapc {
  height: 50px;
  padding-bottom: 10px;
}

#harvard {
  height: 30px;
  padding-bottom: 20px;
}

#placeeconomics {
  height: 40px;
  padding-bottom: 15px;
}

#wayne {
  height: 30px;
  padding-bottom: 15px;
}

#detroit {
  height: 70px;
}

/* Partners------------------------------------------------------------------ */
.press-item {
  float: left;
  display: inline-block;
  height: 150px;
  margin: 10px 4%;
  width: 25%;
  font-size: 17px;
}

.press-item a {
  display: block;
  text-align: center;
}

.press-item .quote {
  text-align: center;
  padding-bottom: 15px;
}

img.press-logo {
  bottom: 0;
  display: block;
  margin: auto auto 10px auto;
  text-align: center;
  height: 80px;
}

#fastco {
  height: 80px;
}

#ddj {
  height: 70px;
  padding-top: 5px;
}

#nieman {
  height: 14px;
  padding-top: 33px;
}

#directions {
  height: 40px;
  padding-top: 20px;
}

#planetizen {
  height: 40px;
  padding-top: 20px;
}

#strata {
  height: 80px;
  padding-top: 0px;
}


/* Signup ------------------------------------------------------------------- */

form label {
  font-size: 16px;
  line-height: 20px;
}

form .question {
  font-family: $bold;
}

form input {
  font-family: $font;
}

form input[type=text] {
  display: block;
  font-size: 16px;
  border: 4px solid #ccc;
  line-height: 24px;
  padding: 0px 8px;
  margin-bottom: 1.5em;
}

form input[type=text].missing {
  border: 4px solid #ffad00;
}

form input[type=submit] {
  margin-top: 1em;
  cursor: pointer;
  border: 6px solid #58aeff;
  font-family: $font;
  background: #fff;
  width: auto;
  height: auto;
  line-height: 2em;
}

.pair {
  overflow: auto;
}

.pair .single {
  width: 49%;
  float: left;

  @media all and (max-width: 768px) {
    float:none;
  }
}

form p {
  margin-top: 1em;
  margin-bottom: 0;
}

#req-message {
  display: none;
}

form .hidden {
  display: none;
}


/* Team --------------------------------------------------------------------- */

.team {
  overflow: auto;
}

.team p {
  margin-bottom: 2em;
}

.team img {
  float: left;
  margin-right: 20px;
  display: inline-block;
}


