/*******************************************************************************
 * _layout.scss
 *
 * The layout of the major regions (usually, but not necessarily Drupal regions)
 * that components will be placed within. Layout styles for the theme's
 * components should not be placed here and should instead be kept with the
 * relevant SCSS for that component.
 ******************************************************************************/

html,
body {
  margin: 0;
  padding: 0;
}

.out {

}

.contrast {
  background: $pink;
}

/*
2000 = 236 708 56 56 708 236
1280 = 84 500 56 56 500 84
1200 = 57 500 43 43 500 57
1120 = 30 500 30 30 500 30
900 = 30 390 30 30 390 30
769 = 30 324 30 30 390 30
768 = 30 708 30
500 = 30 440 30
320 = 30 260 30 (minimum responsive width)
 */

.out {
  overflow: auto;
}

.in {
  margin: 0px auto;
}

/* only here for demos */
.photo {
  background: transparent url(../img/bg.jpg) no-repeat;
  background-size: 50% auto;

  .a {
    height: 12em;
  }
}

.a, .b {
  float: left;
  width: 50%;

  @media all and (max-width: 768px) {
    float:none;
    width: 100%;
  }
}

.a .in {
  float: right;
  padding: 0 5.6% 0 0;

  @media all and (max-width: 1999px) {
    padding: 0 8.6% 0 0;
  }

  @media all and (max-width: 1279px) {
    padding: 0 7% 0 0;
  }

  @media all and (max-width: 1199px) {
    padding: 0 5.6% 0 0;
  }

  @media all and (max-width: 1119px) {
    padding: 0 6.6% 0 0;
  }

  @media all and (max-width: 899px) {
    padding: 0 7.8% 0 0;
  }
}

.b .in {
  float:left;
  padding: 0 0 0 5.6%;

  @media all and (max-width: 1999px) {
    padding: 0 0 0 8.6%;
  }

  @media all and (max-width: 1279px) {
    padding: 0 0 0 7%;
  }

  @media all and (max-width: 1199px) {
    padding: 0 0 0 5.6%;
  }

  @media all and (max-width: 1119px) {
    padding: 0 0 0 6.6%;
  }

  @media all and (max-width: 899px) {
    padding: 0 0 0 7.8%;
  }
}

.a .in,
.b .in {
  width:500px;

  @media all and (max-width: 1119px) {
    width: 390px;
  }

  @media all and (max-width: 899px) {
    width: 390px;
  }

  @media all and (max-width: 768px) {
    width: 92%;
    float: none;
    padding: 0 4%;
  }

  @media all and (max-width: 768px) {
    width: auto;
    float: none;
    padding: 0 30px;
  }
}

nav {
  padding-top: 10px;
  padding-bottom: 30px
}
