/*******************************************************************************
 * _layout.scss
 *
 * The layout of the major regions (usually, but not necessarily Drupal regions)
 * that components will be placed within. Layout styles for the theme's
 * components should not be placed here and should instead be kept with the
 * relevant SCSS for that component.
 ******************************************************************************/

html,
body {
  margin: 0;
  padding: 0;
}

.hidden {
  display: none;
}

.out {
  overflow: hidden;
  background: #fff;
}

.in {
  width: 1528px;
  margin: 0px auto;
  overflow: auto;

  @media all and (max-width: 1999px) {
    width: 1112px;
  }

  @media all and (max-width: 1279px) {
    width: 1086px;
  }

  @media all and (max-width: 1119px) {
    width: 866px;
  }

  @media all and (max-width: 899px) {
    width: 708px;
  }

  @media all and (max-width: 768px) {
    width: auto;
  }
}



/* Responsive columns ------------------------------------------------------- */

/*

2000 = 236 708 56 56 708 236 = 1528px center
1280 = 84 500 56 56 500 84 = 1112px center
1120 = 30 500 30 30 500 30 = 1060px center
900 = 30 390 30 30 390 30 = 840px center
769 = 30 324 30 30 390 30 = 708px center
768 = 30 708 30
500 = 30 440 30
320 = 30 260 30 (minimum responsive width)

1200 = 57 500 43 43 500 57 = 1086px center
 */

.a, .b {
  width: 708px;
  margin-right: 56px;
  padding: 50px 0 50px 0;

  /* column sizing */
  float:left;

  @media all and (max-width: 1999px) {
    width: 500px;
  }

  @media all and (max-width: 1279px) {
    margin-right: 43px;
  }

  @media all and (max-width: 1119px) {
    margin-right: 30px;
    width: 390px;
  }

  @media all and (max-width: 899px) {
    width: 324px;
  }

  @media all and (max-width: 768px) {
    margin: 0;
    width: auto;
    float:none;
    padding: 15px 30px;
  }
}

.b {
  margin-right: 0;
  margin-left: 56px;

  @media all and (max-width: 1999px) {
    margin-left: 56px;
  }

  @media all and (max-width: 1279px) {
    margin-left: 43px;
  }

  @media all and (max-width: 1119px) {
    margin-left: 30px;
  }

  @media all and (max-width: 768px) {
    margin: 0;
    width: auto;
    float: none;
  }
}

.b.demoback {
  width: 764px;
  margin-left: 0;
  padding-bottom: 0!important;

  @media all and (max-width: 1999px) {
    width: 556px;
    margin-left: 0;
  }

  @media all and (max-width: 1279px) {
    width: 543px;
    margin-left: 0;
  }

  @media all and (max-width: 1119px) {
    width: 420px;
    margin-left: 0;
  }

  @media all and (max-width: 899px) {
    width: 354px;
  }
}

.a.short {
  padding-bottom: 0px;
}

.text .a {
  width: 858px;
  @media all and (max-width: 1999px) {
    width: 650px;
  }

  @media all and (max-width: 1119px) {
    margin-right: 30px;
    width: 525px;
  }

  @media all and (max-width: 899px) {
    width: 410px;
  }
}

.text .b {
  width: 558px;
  @media all and (max-width: 1999px) {
    width: 350px;
  }

  @media all and (max-width: 1119px) {
    margin-right: 30px;
    width: 250px;
  }

  @media all and (max-width: 899px) {
    width: 204px;
  }

}

.contrast {
  background: $pink;
}

.contrast + .contrast .in {
  padding-top: 0;

  @media all and (max-width: 768px) {
    padding-top: 15px;
  }
}

.contrast .rule {
  margin-bottom: 50px;
}

.rule {
  border: 0 none;
  border-bottom: 5px solid $thinpink;
}

.contrast .rule {
  border-bottom: 6px solid #fff;
}


/* Header structure --------------------------------------------------------- */

header {
  overflow: auto;
}

header .photo {
  width: 50%;
  float: left;
}

header .text {
  width: 50%;
  float: right;
}

header .photo,
header .text {
  @media all and (max-width: 768px) {
    width: auto;
    float: none;
    margin-bottom: 0;
    padding-bottom: 0;
    padding-right: 30px;
    min-height: auto ! important;
  }
}

header .photo .a {
  float: right;

  @media all and (max-width: 768px) {
    float: none;
  }
}

header .b {
  padding-top: 75px;

  @media all and (max-width: 768px) {
    padding-top: 25px;
  }
}

header .a,
header .b {
  @media all and (max-width: 768px) {
    float: none;
    width: auto;
  }
}

.text header .a {
  padding: 0px;
}

.photo {
  background: url(../img/bg4.jpg) no-repeat;
  background-size: cover;

  @media all and (max-width: 1119px) {
  }

  @media all and (max-width: 768px) {
  }
}

.photo .a {
  @media all and (max-width: 768px) {
  }
}

/* Photos for specific pages - - - - - - - - - - - - - - - - */
.leads .photo {
}

.home .photo {
  background-image: url(../img/dotgrid-white.png), url(../img/bg4.jpg);
}

.muncie .photo {
  background: url(../img/bg-case-muncie1.jpg) no-repeat;
}

.post .photo {
  background-image: url(../img/dotgrid.png);
}

.photo .in {
  @media all and (max-width: 768px) {
    padding-left: 0;
    padding-right: 0;
  }
}

.photo .a,
.photo .b {
  @media all and (max-width: 768px) {
    padding-left: 0;
    padding-right: 30px;
  }
}
