---
---
<!DOCTYPE html>
<html>
  {% include head.html title="Every community can design its own future | LocalData" %}
  <body>
    <header class="out">
      <div class="photo">
        <div class="a">
          <h1 class="logo"><a href=".">LocalData</a></h1>
        </div>
      </div>

      <div class="text">
        <div class="b">
            <h1 class="case">About</h1>
            <h1><span>Every community</span><br> can design its own future.</h1>

            <h2>LocalData makes it possible.</h2>

            <a href="about#more" class="learnmore">Learn more</a>

            <div class="spacer"></div>

        </div>
      </div>
    </header>


    {% include nav.html select="about" %}

    <div class="out contrast">
      <div class="in">
        <div class="a">

          <h2>LocalData makes digital tools to collect and analyze information about urban infrastructure.</h2>

          <p>Across the country, urban planners in non-profits and government agencies collect street-level information about neighborhoods. Typically, the process for collecting, transcribing and cleaning this data is confusing, lengthy and disempowering. LocalData is technology designed to make a cumbersome process simple.</p>

          <p>In 2012, LocalData began as a Code for America project with the City of Detroit's Office of the Mayor. Three Code for America fellows (Matt, Alicia and Prashant) identified a need for local data in Detroit. Though community groups were actively surveying neighborhoods and using this data &mdash; neighborhood level surveys took a long time and further stressed the under-resourced technical assistance providers that were assisting this effort. Additionally, comprehensive city-wide surveys were taken infrequently, often involving multiple partners, with months of surveying and transcription.</p>

          <h2>The tech</h2>

          <p>LocalData continues to be an open source project. Our code is on GitHub. The mobile app is built on HTML5, JavaScript, and Leaflet, and the backend uses Node.js, MongoDB, and PostGIS. We're working to make the project better and more reusable, and would love your contributions and ideas.</p>
        </div>

        <div class="b team">

          <h2>The team</h2>

          <h3 class="section-header">Matt Hampel</h3>
          <img src="img/photo-matt.jpg" width="84" height="84" class="team-photo" />
          <p><strong><a href="mailto:matth@localdata.com">Matt Hampel, Founder</a></strong> is a web developer and student of the changing landscape of civic information gathering. Matt has worked with nonprofits, newspapers, universities, and other organizations to build tools for the public good. Before joining Code for America, he worked as a technology project manager at the University of Michigan.</p>

          <h3 class="section-header">Alicia Rouault</h3>
          <img src="img/photo-alicia.jpg" width="84" height="84" class="team-photo" />
          <p><strong><a href="mailto:alicia@localdata.com">Alicia Rouault, CEO + Founder</a></strong> Alicia Rouault is an urban planner, winner of the 2012 Knight News Data Challenge and former Code for America Fellow. Alicia has worked at the intersection of urban planning and technology with the Architectural League of NY Urban Ombibus, San Francisco's Office of Economic & Workforce Development, City of Newark, and Pratt Center for Community Development. Alicia holds a B.A. in Political Science from University of Toronto and studied planning at the Masters level at Pratt Institute and Massachusetts Institute of Technology.</p>

          <h3 class="section-header">Prashant Singh</h3>
          <img src="img/photo-prashant.jpg" width="84" height="84" class="team-photo" />
          <p><strong><a href="mailto:prashant@localdata.com">Prashant Singh, CTO + Founder</a></strong> kindled his interest in technology for citizens and communities through a Code for America Fellowship. Before that, he created consumer television products at Microsoft for the Xbox, phones, and set-top boxes. Prashant likes to make, tinker, and dirty his hands with software, bicycles, furniture, and whatever else will fit in his apartment. Before working on consumer technology, Prashant was a signal processing researcher. He received his BS and MS degrees in electrical engineering from Rice University.</p>

  <!--
          <h3 class="section-header">Lillianne Thomas</h3>
          <img src="img/photo-lillianne.jpg" width="84" height="84" class="team-photo" />
          <p><strong>Lillianne Thomas, Project Associate</strong> Lillianne is a third year undergraduate student at University of California Los Angeles studying Geospatial Information Systems (GIS) and remote sensing.  She believes that the global population is more data-driven than ever, and that technology empowers more people to create meaningful information out of raw data.  Ultimately, Lillianne seeks to explore how GIS can be used to address the most important issues facing the planet today and in the future.</p>
  -->
        </div>
      </div>
    </div>

    <div class="out">
      <div class="in rule">
        <div class="a">
          <h2>LocalData in Action</h2>
          <p>See how LocalData helps civic institutions across the country manage their
            data collection, eliminate paper, and save time and money:</p>
            <nav class="subnav">
              <ul>
                {% for name in site.cases %}
                  {% if name != page.name %}
                    {% for case in site.pages %}
                      {% if case.name == name %}
                        <li><a href="{{ case.name }}">{{ case.linkTitle }}</a></li>
                      {% endif %}
                    {% endfor %}
                  {% endif %}
                {% endfor %}
              </ul>
            </nav>
        </div>
        <div class="b">
          <h2>Schedule a demo</h2>
          <p><a href="/signup">Contact us</a> to learn more about the toolkit or
            schedule a demo.</p>
        </div>
      </div>
    </div>

    {% include footer.html %}
    {% include js.html %}

  </body>
</html>
