---
---
<!DOCTYPE html>
<html>
  {% include head.html title="Every community can design its own future | LocalData" %}
  <body>
    <header class="out">
      <div class="photo">
        <div class="a">
          <h1 class="logo"><a href=".">LocalData</a></h1>
        </div>
      </div>

      <div class="text">
        <div class="b">
            <h1 class="case">About</h1>
            <h1><span>Every community</span><br> can design its own future.</h1>

            <h2>LocalData makes it possible.</h2>

            <a href="about#more" class="learnmore">Learn more</a>

            <div class="spacer"></div>

        </div>
      </div>
    </header>


    {% include nav.html select="about" %}

    <div class="out contrast">
      <div class="in">
        <div class="a">

          <h2>LocalData is a digital toolkit to help modernize community- led data collection of place-based information.</h2>

          <p>Across the country, community groups, planners and government agencies collect parcel-level information about communities. Typically, the process for collecting, transcribing and cleaning this data can be confusing, lengthy and disempowering. LocalData transforms this process with technology.</p>

          <p>LocalData began as a 2012 Code for America project with the City of Detroit. Three Code for America fellows (Matt, Alicia and Prashant) identified a need for local data in Detroit. Though community groups were actively surveying neighborhoods and using this data &mdash; neighborhood level surveys took a long time and further stressed the under-resourced technical assistance providers that were assisting this effort. Additionally, comprehensive city-wide surveys were taken infrequently, often involving multiple partners, with months of surveying and transcription.</p>

          <h2>The tech</h2>

          <p>LocalData continues to be an open source project. Our code is on GitHub. The mobile app is built on HTML5, JavaScript, and Leaflet, and the backend uses Node.js, MongoDB, and PostGIS. We're working to make the project better and more reusable, and would love your contributions and ideas.</p>
        </div>

        <div class="b team">

          <h2>The team</h2>

          <h3 class="section-header">Matt Hampel</h3>
          <img src="img/photo-matt.jpg" width="84" height="84" class="team-photo" />
          <p><strong><a href="mailto:matth@localdata.com">Matt Hampel</a></strong> is a web developer and student of the changing landscape of civic information gathering. Matt has worked with nonprofits, newspapers, universities, and other organizations to build tools for the public good. Before joining Code for America, he worked as a technology project manager at the University of Michigan.</p>

          <h3 class="section-header">Alicia Rouault</h3>
          <img src="img/photo-alicia.jpg" width="84" height="84" class="team-photo" />
          <p><strong><a href="mailto:alicia@localdata.com">Alicia Rouault</a></strong> is an urban planner and interactive product manager. Prior to her work at Code for America, Alicia worked in economic development and urban planning on the development of a national urban manufacturing toolkit for cities. On the East coast, Alicia worked as Assistant Editor of Urban Omnibus, in community development with the City of Newark's Division of Planning and Economic Development, and with non-profits Pratt Center for Community Development and Citizens Committee for New York City. Alicia has studied at University of Toronto, Pratt Institute and Massachusetts Institute of Technology.
         </p>

          <h3 class="section-header">Prashant Singh</h3>
          <img src="img/photo-prashant.jpg" width="84" height="84" class="team-photo" />
          <p><strong><a href="mailto:prashant@localdata.com">Prashant Singh</a></strong> kindled his interest in technology for citizens and communities through a Code for America Fellowship. Before that, he created consumer television products at Microsoft for the Xbox, phones, and set-top boxes. Prashant likes to make, tinker, and dirty his hands with software, bicycles, furniture, and whatever else will fit in his apartment. Before working on consumer technology, Prashant was a signal processing researcher. He received his BS and MS degrees in electrical engineering from Rice University.</p>

        </div>
      </div>
    </div>

    <div class="out">
      <div class="in rule">
        <div class="a">
          <h2>LocalData in Action</h2>
          <p>See how LocalData helps civic institutions across the country manage their
            data collection, eliminate paper, and save time and money:</p>
            <nav class="subnav">
              <ul>
                {% for name in site.cases %}
                  {% if name != page.name %}
                    {% for case in site.pages %}
                      {% if case.name == name %}
                        <li><a href="{{ case.name }}">{{ case.linkTitle }}</a></li>
                      {% endif %}
                    {% endfor %}
                  {% endif %}
                {% endfor %}
              </ul>
            </nav>
        </div>
        <div class="b">
          <h2>Schedule a demo</h2>
          <p>Contact us to learn more about the toolkit, schedule a demo,
            and </p>
        </div>
      </div>
    </div>

    {% include footer.html %}
    {% include js.html %}

  </body>
</html>
