---
---
<!DOCTYPE html>
<html>
  {% include head.html title="Every community can design its own future | LocalData" %}
  <body>
    <header class="out">
      <div class="photo">
        <div class="a">
          <h1 class="logo"><a href=".">LocalData</a></h1>
        </div>
      </div>

      <div class="text">
        <div class="b">
            <h1 class="case">LocalData Blog</h1>
            <h1>News from LocalData</h1>
            <nav class="subnav">
              <ul>
                {% for post in site.posts limit:5 %}
                <li><a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a></li>
                {% endfor %}
              </ul>
            </nav>
        </div>
      </div>
    </header>


    {% include nav.html select="blog" %}

    {% for post in site.posts %}
      <div class="out contrast">
        <div class="in {% unless forloop.last %} rule {% endunless %}">
          <div class="a">
              <h2>{{ post.title }}</h2>
              <p><a href="{{ site.url }}{{ post.url }}">{{ post.date | date: "%B %d, %Y" }}</a></p>
              <p>{{ post.excerpt }}</p>
              <p><a href="{{ site.url }}{{ post.url }}">Read More</a></p>
          </div>
          {% if post.image %}
          <div class="b">
            {% include post_image.html item=post %}
          </div>
          {% endif %}
        </div>
      </div>
    {% endfor %}

    {% include footer.html %}
    {% include js.html %}

  </body>
</html>
