---
---
<!DOCTYPE html>
<html>
  {% include head.html title="Data-driven community health | LocalData" %}
  <body class="health">
    <header class="out">
      <div class="photo">
        <div class="a">
          <h1 class="logo"><a href=".">LocalData</a></h1>
        </div>
      </div>

      <div class="text">
        <div class="b">
            <h1 class="case">Health</h1>
            <h1><span>Data-driven</span><br>Community Health</h1>

            <h2>Mobile data collection for community health assessment</h2>

            <a href="health#more" class="learnmore">Learn more</a>

            <div class="iphone"></div>
            <div class="spacer"></div>
            <div class="spacer"></div>

        </div>
      </div>
    </header>


    {% include nav.html %}

    <div class="out contrast">
      <div class="in">
        <div class="a short">
          <h2>Mobile Primary Data Collection</h2>
          <p>Easily capture real-time data on residents or environments using
          a smartphone or tablet. Collect data on the custom health indicators
          that matter to your community. Quickly produce robust datasets that
          serve your project&#39;s needs. 
        </div>
        <div class="b">
        </div>
      </div>
    </div>

    <div class="out contrast">
      <div class="in">

        <div class="a short">
          <h2>Pricing</h2>
          <p>LocalData is a tool for collecting and mapping heath-related
          data. Collect local insight from participants and information on
          enviroment with a simple mobile tool. Map the data and share with
          stakeholders quickly.</p>
        </div>
      </div>
      <div class="in">
          <div class="price-box">
            <div class="price-item">
              <div class="price-title">Entry Level</div>
              <div class="number">$99</div> <div class="time">per month</div>
              <br>
              Collect 10,000 entries/year
              <br>
              Instant map visualizations
              <br>
              2 Projects
              <br>
              Export to Shapefile, CSV, KML
              <a class="signup-button" href="beta#healthA">Get started</a>
            </div>

            <div class="price-item">
              <div class="price-title">Intermediate</div>
              <div class="number">$179</div> <div class="time">per month</div>
              <br>
              Collect 20,000 entries/year
              <br>
              Instant map visualizations
              <br>
              4 Projects
              <br>
              Export to Shapefile, CSV, KML
              <a class="signup-button" href="beta#healthB">Get started</a>
            </div>

            <div style="clear:both;"></div>
            <div class="price-item">
              <div class="price-title">Advanced</div>
              <div class="number">$349</div> <div class="time">per month</div>
              <br>
              Collect 40,000 entries/year
              <br>
              Instant map visualizations
              <br>
              6 Projects
              <br>
              Export to Shapefile, CSV, KML
              <a class="signup-button" href="beta#healthC">Get started</a>
            </div>

            <div class="price-item">
              <div class="price-title">Enterprise</div>
              <div class="number">Get in touch!</div>
              <br>
              Have serious data needs?
              <br>
              Need to support several projects and stakeholders?
              <a class="signup-button signup-enterprise" href="beta#healthEnterprise">Contact us</a>
            </div>

            <!--
          </div>
          -->
        </div>

        <!--
        <div class="b">
          <img src="img/map.png" class="responsive">
        </div>
        -->

      </div>
    </div>

    <div class="out">
      <div class="in">
        <div class="a">
            <h2 class="">Collect data in real time on</h3>
            <ul>
              <li>Proximity to care</li>
              <li>Mental health</li>
              <li>Behavioral risk</li>
              <li>Health status</li>
              <li>Access to care</li>
              <li>Environmental factors</li>
              <li>Safety</li>
              <li>Air quality</li>
              <li>More!</li>
            </ul>
          </p>          

          <h2>Produce and combine existing Data</h2>
            <p>Add new data to existing datasets or start fresh. Start with critical base data from demographic or socioeconomic datasets you already have. Produce new datasets from field surveys or in-person interviews.</p>
            <h2>Online Data + Maps, in Real Time</h2>
                <p>Quickly identify patterns and understand your data across geographies. Explore media like photos and long form text interviews.Quickly map and explore health data at the community level. Share online maps or export raw data to analyze with tools you use already.</p>
        </div>
        <div class="b">
          <div class="body collection"></div>
          <div class="body dashboard"></div>
          <p></p>
        </div>
      </div>
    </div>

    <div class="out contrast">
      <div class="in">

        <div class="a short">
          <h2>Use Cases</h2>
          <p>LocalData has been used across the globe to map and track critical
          information about the environment, informing community health
          assessment. Here&apos;s just a few ways LocalData has been used by
          researchers, public sector practitioners, and nonprofit
          organizations</p>

        </div>
      </div>
      <div class="in">
        <div class="a">

          <h3>Bicycle Counts: Encouraging Healthy Choices</h3>
          <p>The Community Foundation of Southeast Michigan collected and
          mapped hundreds of points of data on the existing demographic usage
          of bicycles in Southeast Michigan. Data from the study helped inform
          a future Greenway Initiative, so that data-driven bicycle
          infrastructure recommendations can encourage healthy behavior among
          residents.</p>
          <div class="bike-study"></div>
        </div>

        <div class="b">
          <h3>Neighborhood Safety: Quality of Life + Community Health</h3>
          <p>The Mayor&apos;s office in Gary, Indiana undertook a massive
          campaign collecting data on over 30,000 buildings, targeting blighted
          properties in neighborhoods in close proximity to schools and other
          amenities to measure the impact of dangerous decaying infrastructure
          on quality of life. This data was used to inform municipal policy and
          allocate federal funding for community revitalization.</p>
          <div class="community-assessment"></div>
        </div>

      </div>
    </div>

    <div class="out">
      <div class="in">

        <div class="a partner-list">

          <h2>World Class Partners</h2>
          <p>We are proud to work with thought leaders in technology and innovative anchor institutions across the globe</p>

          <!-- MIT -->
          <div class="partner-item">
            <a href="http://mit.edu/">
              <img style="height: 30px;" class="partner-logo" title="MIT" alt="MIT" src="img/partners/mit.png"></img>
            </a>
          </div> <!-- /partner-item -->

          <!-- Harvard -->
          <div class="partner-item">
            <a href="http://www.harvard.edu/">
              <img class="partner-logo" title="Harvard Graduate School of Design" alt="Harvard University" src="img/partners/harvard_logo_lightened.png"></img>
            </a>
          </div> <!-- /partner-item -->

          <!-- UChicago -->
          <div class="partner-item">
            <a href="http://www.uchicago.edu/">
              <img class="partner-logo" title="Mayor Daley and the University of Chicago" alt="University of Chicago" src="img/partners/UChicago_gray_lightened.png"></img>
            </a>
          </div> <!-- /partner-item -->

          <!-- Knight -->
          <div class="partner-item">
            <a href="http://www.knightfoundation.org/">
              <img class="partner-logo" title="Knight Foundation" alt="Knight Foundation" src="img/partners/knight.png"></img>
            </a>
          </div> <!-- /partner-item -->

          <!-- CfA -->
          <div class="partner-item">
            <a href="http://codeforamerica.org/">
              <img class="partner-logo" title="Code for America" alt="Code for America" src="img/partners/codeforamerica.png"></img>
            </a>
          </div> <!-- /partner-item -->

        </div>

        <div class="b munciemap"></div>

      </div>
    </div>

    {% include footer.html %}
    {% include js.html %}

  </body>
</html>
