---
---
<!DOCTYPE html>
<html>
  {% include head.html title="Understanding Communities with LocalData" %}
  <body class="nonprofit">
    <header class="out">
      <div class="photo">
        <div class="a">
          <h1 class="logo"><a href=".">LocalData</a></h1>
        </div>
      </div>

      <div class="text">
        <div class="b">
          <h1 class="case">LocalData for nonprofits</h1>
          <br>
          <h1><span>Data-driven</span><br>Communities</h1>

          <h2>Simple data collection + mapping for nonprofits</h2>

          <a href="nonprofit#more" class="learnmore">Learn more</a>

          <div class="iphone"></div>
          <div class="spacer"></div>
          <div class="spacer"></div>
        </div>
      </div>
    </header>


    <div class="out nav" id="more">
      <div class="in">
        <nav>
          <a href="case-muncie">In Action</a>
          <a href="about">Our Story</a>
          <a href="blog">News</a>
          <a href="signup">Contact</a>
          <a href="nonprofit#pricing">Pricing</a>
        </nav>
      </div>
    </div>

    <div class="out contrast">
      <div class="in">
        <div class="a">
          <h2>Mobile Primary Data Collection</h2>
          <p>Easily capture real-time data at the community level using a
          smartphone or tablet. Measure the impact of your project over time on important issues
          that matter to local communities.
          <br><br>
          Quickly produce robust datasets and use online maps to tell stories. Share this information online with
          funders, advocates or the public.
        </div>
        <div class="b">
        </div>
      </div>
    </div>

    <div class="out">
      <div class="in">
        <div class="a short">
            <h2>Custom data collection</h3>
            <p>The LocalData survey designer makes it simple and easy to creat custom surveys.
            Collect quantitative and qualitative data with multiple-choice
            questions, text fields, map entry, and photo uploads.</p>
            <ul>
              <li>Community Development</li>
              <li>Community Assets</li>
              <li>Environmental Justice</li>
              <li>Transportation Access</li>
              <li>Advocacy Campaigns</li>
              <li>Digital Access Mapping</li>
              <li>Crime and Safety</li>
              <li>Quality of Life</li>
              <li>More!</li>
            </ul>
          </p>          
        </div>
        <div class="b short">
          <div class="body collection"></div>
          <p></p>
        </div>
      </div>
    </div>

    <div class="out">
      <div class="in">
        <div class="a short">
          <h2>Online data + maps without GIS experts</h2>
          <p>LocalData is designed to help nonprofit professionals
          collect and map data without the need for a GIS expert or web
          developer.
          <br><br>
          Collect custom data on any smartphone or tablet and
          look at the results with an easy-to-use online dashboard. Export
          your data for deeper analysis in Excel or ArcMap.</p>
        </div>
        <div class="b short">
          <h2>Points, parcels, and more!</h2>
          <p>Add new data to existing datasets like buildings, street lines,
          addresses or other information you already have. Produce new
          datasets from field surveys or in-person interviews.</p>
        </div>
      </div>
    </div>

    <div class="out">
      <div class="in">
        <div class="a short">
          <h2>How it works</h2>
          <p>Identify patterns and understand data across geographies.
          Explore media like photos and long form text interviews.
          Quickly map and visualize data at the community level. Share
          online maps or export raw data to analyze with tools you use
          already.</p>
        </div>
      </div>
    </div>

    <div class="out">
      <div class="in">
        <div class="a short step step1">
        </div>
        <div class="b short step step2">
        </div>
      </div>
    </div>

    <div class="out">
      <div class="in">
        <div class="a short step step3">
        </div>
        <div class="b short step step4">
        </div>
      </div>
    </div>

    <div class="out contrast">
      <div class="in">

        <div id="pricing" class="a short">
          <h2>Pricing</h2>
          <p>LocalData is a tool for collecting and mapping community-level
          data. Collect local insight from participants or document information
          on the built environment environment with a smartphone or tbalet. Map
          the data and share with stakeholders quickly.</p>
        </div>
      </div>
      <div class="in">
          <div class="price-box">
            <div class="price-item">
              <div class="price-main">
                <div class="price-title">Neighborhood</div>
                <div class="number">$99</div> <div class="time">per month</div>
                <br>
                Collect and map data for projects with limited geography
                <br>
              </div>
              <a href="" class="price-more-link">Details</a>
              <a href="" class="price-less-link">Hide details</a>
              <div class="price-more short">
                <ul>
                  <li>Custom survey design</li>
                  <li>Real-time mobile data collection (iOS, Android)</li>
                  <li>Drop new points or add new data to existing shapes</li>
                  <li>Instant geocoding</li>
                  <li>Online web maps</li>
                  <li>Export to Shapefile, CSV, KML</li>
                  <li>Offline mode (stores data locally when you lose mobile reception)</li>
                </ul>
                <p>
                  Up to 10,000 data entries
                  <br>
                  2 administrative accounts
                  <br>
                  2 Projects
                </p>
              </div>
              <a class="signup-button" href="beta#nonprofitA">Get started</a>
            </div>

            <div class="price-item">
              <div class="price-main">
                <div class="price-title">Researcher</div>
                <div class="number">$149</div> <div class="time">per month</div>
                <br>
                Collect and map data for larger projects covering several neighborhoods or regions
                <br>
              </div>
              <a href="" class="price-more-link">Details</a>
              <a href="" class="price-less-link">Hide details</a>
              <div class="price-more short">
                <ul>
                  <li>Custom survey design</li>
                  <li>Real-time mobile data collection (iOS, Android)</li>
                  <li>Drop new points or add new data to existing shapes</li>
                  <li>Instant geocoding</li>
                  <li>Online web maps</li>
                  <li>Export to Shapefile, CSV, KML</li>
                  <li>Offline mode (stores data locally when you lose mobile reception)</li>
                  <li>Export statistical reports (PDF)</li>
                  <li>Photo upload</li>
                </ul>
                <p>
                  Up to 20,000 data entries
                  <br>
                  5 administrative accounts
                  <br>
                  5 projects
                </p>
              </div>
              <a class="signup-button" href="beta#nonprofitB">Get started</a>
            </div>

            <div style="clear:both;"></div>
            <div class="price-item">
              <div class="price-main">
                <div class="price-title">Pro</div>
                <div class="number">$399</div> <div class="time">per month</div>
                <br>
                Collect and map data for larger projects covering several neighborhoods or regions
                <br>
              </div>
              <a href="" class="price-more-link">Details</a>
              <a href="" class="price-less-link">Hide details</a>
              <div class="price-more">
                <ul>
                  <li>Custom survey design</li>
                  <li>Real-time mobile data collection (iOS, Android)</li>
                  <li>Drop new points or add new data to existing shapes</li>
                  <li>Instant geocoding</li>
                  <li>Online web maps</li>
                  <li>Export to Shapefile, CSV, KML</li>
                  <li>Offline mode (stores data locally when you lose mobile reception)</li>
                  <li>Export statistical reports (PDF)</li>
                  <li>Photo upload</li>
                  <li>Custom base data (streets, points, parcels, or other geometries)</li>
                  <li>Technical support</li>
                </ul>
                <p>
                  Up to 50,000 data entries
                  <br>
                  Unlimited administrative accounts
                  <br>
                  10 projects
                </p>
              </div>
              <a class="signup-button" href="beta#nonprofitC">Get started</a>
            </div>

            <div class="price-item">
              <div class="price-main">
                <div class="price-title">Enterprise</div>
                <div class="number">Contact for pricing</div>
                <br>
                Collect and map data across large regions
                <br>
              </div>
              <a href="" class="price-more-link">Details</a>
              <a href="" class="price-less-link">Hide details</a>
              <div class="price-more">
                <ul>
                  <li>Custom survey design</li>
                  <li>Real-time mobile data collection (iOS, Android)</li>
                  <li>Drop new points or add new data to existing shapes</li>
                  <li>Instant geocoding</li>
                  <li>Online web maps</li>
                  <li>Export to Shapefile, CSV, KML</li>
                  <li>Offline mode (stores data locally when you lose mobile reception)</li>
                  <li>Export statistical reports (PDF)</li>
                  <li>Photo upload</li>
                  <li>Custom base data (streets, points, parcels, or other geometries)</li>
                  <li>Developer API</li>
                  <li>Custom integrations</li>
                  <li>In-person training available</li>
                </ul>
                <p>
                  Scalable data options
                  <br>
                  Unlimited administrative accounts
                  <br>
                  Unlimited projects
                </p>
              </div>
              <a class="signup-button signup-enterprise" href="beta#nonprofitEnterprise">Contact us</a>
            </div>

        </div>

      </div>
    </div>

    <div class="out">
      <div class="in">

        <div class="a short">
          <h2>Use Cases</h2>
          <p>LocalData has been used across the globe to map and track critical
          information about cities and residents. Dozens of projects have
          benefited from the information, from mapping vacant property to
          informing future bike lane and transportation policy. Here&apos;s
          just a few ways LocalData has been used by researchers, public sector
          practitioners, and nonprofit organizations</p>

        </div>
      </div>
      <div class="in">
        <div class="a">

          <h3>Mapping Digital Access in Quito</h3>
          <div class="quito"></div>
          <p>The MIT Media Lab City Science Group collected data with MIT
          graduate researchers on existing digital infrastructure in the
          first UNESCO world heritage site in Quito, Ecuador. Researchers
          gathered information on the ground about existing access to wifi
          hotspots, internet connectivity and the cost of connecting. Results
          were used to inform research on the future of designing an
          Innovation District in line with economic development goals set to
          revitalize the downtown core.</p>
        </div>
              
        <div class="b">
          <h3>Collecting Vacant Property Data in Gary, Indiana</h3>
          <p>The Mayor&apos;s office in Gary, Indiana undertook a massive
          campaign, collecting data on over 30,000 buildings. They targeted blighted
          neighborhood properties, focusing on those in close proximity to schools and other
          amenities, measuring the impact of dangerous decaying infrastructure
          on quality of life. This data informed municipal policy and
          allocate federal funding for community revitalization.</p>
          <div class="community-assessment"></div>
        </div>

      </div>
    </div>

    <div class="out">
      <div class="in">

        <div class="a">
          <h3>Bicycle Counts: Encouraging Healthy Choices in Southeast Michigan</h3>
          <p>The Community Foundation of Southeast Michigan collected and
          mapped hundreds of data points on the existing demographic usage of
          bicycles in Southeast Michigan. Data from the study helped inform a
          Greenway Initiative, so that data-driven bicycle infrastructure
          recommendations can encourage healthy behavior among residents.</p>
        </div>

        <div class="b">
          <div class="bike-study"></div>
        </div>
      </div>
    </div>

    <div class="out contrast">
      <div class="in">

        <div class="a partner-list">

          <h2>World Class Partners</h2>
          <p>We are proud to work with thought leaders in technology and innovative anchor institutions across the globe</p>

          <!-- MIT -->
          <div class="partner-item">
            <a href="http://mit.edu/">
              <img style="height: 30px;" class="partner-logo" title="MIT" alt="MIT" src="img/partners/mit.png"></img>
            </a>
          </div> <!-- /partner-item -->

          <!-- Harvard -->
          <div class="partner-item">
            <a href="http://www.harvard.edu/">
              <img class="partner-logo" title="Harvard Graduate School of Design" alt="Harvard University" src="img/partners/harvard_logo_lightened.png"></img>
            </a>
          </div> <!-- /partner-item -->

          <!-- UChicago -->
          <div class="partner-item">
            <a href="http://www.uchicago.edu/">
              <img class="partner-logo" title="Mayor Daley and the University of Chicago" alt="University of Chicago" src="img/partners/UChicago_gray_lightened.png"></img>
            </a>
          </div> <!-- /partner-item -->

          <!-- Knight -->
          <div class="partner-item">
            <a href="http://www.knightfoundation.org/">
              <img class="partner-logo" title="Knight Foundation" alt="Knight Foundation" src="img/partners/knight.png"></img>
            </a>
          </div> <!-- /partner-item -->

          <!-- CfA -->
          <div class="partner-item">
            <a href="http://codeforamerica.org/">
              <img class="partner-logo" title="Code for America" alt="Code for America" src="img/partners/codeforamerica.png"></img>
            </a>
          </div> <!-- /partner-item -->

        </div>

        <div class="b munciemap"></div>

      </div>
    </div>

    {% include footer.html %}
    {% include js.html %}
    <script type="text/javascript">
$(document).ready(function () {
  'use strict';

  $('.price-more-link').click(function (e) {
    e.preventDefault();
    $('.price-more-link').hide();
    $('.price-less-link').show();
    $('.price-more').show();
    _gaq.push(['_trackEvent', 'ltsignup', 'nonprofit-details']);
  });
  $('.price-less-link').click(function (e) {
    e.preventDefault();
    $('.price-less-link').hide();
    $('.price-more-link').show();
    $('.price-more').hide();
  });
});
    </script>

  </body>
</html>
