<footer class="out">
  <div class="in">
    <h1 class="logo"><a href=".">LocalData</a></h1>

    <nav>
      <a href="case-muncie">In Action</a>
      <a href="about">Our Story</a>
      <a href="blog">News</a>
      <a href="privacy">Privacy</a>
      <a href="jobs">Jobs</a>
      <a href="signup">Contact</a>

      <span class="social">
        <a href="http://twitter.com/goLocalData">Twitter</a>
        <a href="https://github.com/LocalData">GitHub</a>
      </span>
    </nav>
  </div>
</footer>


<script>
	window.butler=window.butler||[];butler.load=function(e,t){window._bid=e;if(t){window._bem=t.email}var n=document.createElement("script");n.type="text/javascript",n.async=!0,n.src=("https:"===document.location.protocol?"https:":"http:")+"//www.hellobutler.com/javascripts/b.min.js";var r=document.getElementsByTagName("script")[0];r.parentNode.insertBefore(n,r);var i=function(e){return function(){butler.push([e].concat(Array.prototype.slice.call(arguments,0)))}},s=["identify","track"];for(var o=0;o<s.length;o++)butler[s[o]]=i(s[o]);if(t){butler.identify(t)}}
	butler.load("bOAIspaJYu");
</script>
