<footer class="out">
  <div class="in">
    <h1 class="logo"><a href=".">LocalData</a></h1>

    <nav>
      <a href="case-muncie">In Action</a>
      <a href="about">Our Story</a>
      <a href="blog">News</a>
      <a href="privacy">Privacy</a>
      <a href="jobs">Jobs</a>
      <a href="signup">Contact</a>

      <span class="social">
        <a href="http://twitter.com/goLocalData">Twitter</a>
        <a href="https://github.com/LocalData">GitHub</a>
      </span>
    </nav>
  </div>
</footer>
