<head>
  <base href="{{ site.url }}/">
  <title>{{ include.title }} - Better data makes beter cities</title>
  <meta name="description" content="Collect the place-based data you need using our easy mobile tools and web dashboard. Create your own survey or engage around community health, safety, commercial development, blight, historic resources, and more. Quickly export your data for Excel or as a Shapefile.">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="css/app.css" rel="stylesheet" media="screen">
  <link rel="shortcut icon" href="{{site.url}}/favicon.ico" />
</head>
