---
---
<!DOCTYPE html>
<html>
  {% include head.html title=page.title %}
  <body class="text {{ page.class }}">

    {% include nav.html %}

    <header class="out">
      <div class="in">
        <div class="a">
          <h1 class="logo"><a href=".">LocalData</a></h1>
        </div>
      </div>
    </header>

    <div class="out contrast">
      <div class="in full-width">
        <h1>LocalData Knowledgebase</h1>
      </div>
    </div>

    <div class="out contrast">
      <div class="in">
        <div class="a">
            <nav class="subnav">
              <ul>
                {% for doc in site.pages %}
                  {% if doc.class contains "documentation" %}
                    <li {% if doc.name == doc.name %} class="selected" {% endif %}><a href="documentation/{{ doc.name }}">{{ doc.linkTitle }}</a></li>
                  {% endif %}
                {% endfor %}
              </ul>
            </nav>
        </div>
        <div class="b">
          <h2>{{ page.title }}</h2>

          {{ content }}
        </div>
      </div>
    </div>
    {% include footer.html %}
    {% include js.html %}

  </body>
</html>
