---
---
<!DOCTYPE html>
<html>
  {% include head.html title=page.title %}
  <body class="post">

    <header class="out">
      <div class="photo">
        <div class="dots">
          <div class="a">
            <h1 class="logo"><a href=".">LocalData</a></h1>
          </div>
        </div>
      </div>

      <div class="text">
        <div class="b">
            <h1 class="case">News</h1>
            <h1>{{ page.title }}</h1>

            <p class="date">{{ page.date | date: "%B %d, %Y" }}<p>

            {% unless page.excerpt == content %}
              <p>{{ page.excerpt }}</p>
            {% endunless %}
        </div>
      </div>
    </header>


    {% include nav.html select="blog" %}

    <div class="out contrast">
      <div class="in rule">
        <div class="a">
          {{ content }}
        </div>
        {% if page.image %}
          <div class="b">
            {% include post_image.html item=page %}
            {% if page.image.attribution %}
              <a class="attrib" href="{{ page.image.attribution.link }}">{{ page.image.attribution.text }}</a>
            {% endif %}
          </div>
        {% endif %}
      </div>
    </div>

    <div class="out contrast">
      <div class="in">
        <div class="a">
          <a href="{{ site.url}}{{ page.previous.url }}" {% unless page.previous %}style="visibility: hidden;"{% endunless %}>Previous</a>
        </div>

        <div class="b">
          <a href="{{ site.url}}{{ page.next.url }}" {% unless page.next %}style="visibility: hidden;"{% endunless %}>Next</a>
        </div>
      </div>
    </div>

    {% include footer.html %}
    {% include js.html %}

  </body>
</html>
