---
---
<!DOCTYPE html>
<html>
  {% include head.html title=page.title %}
  <body class="text {{ page.class }}">

    {% include nav.html %}

    <header class="out">
      <div class="in">
        <div class="a">
          <h1 class="logo"><a href=".">LocalData</a></h1>
        </div>
      </div>
    </header>

    <div class="out contrast">
      <div class="in full-width">
        <h1>{{ page.title }}</h1>
      </div>
    </div>

    {{ content }}

    {% include footer.html %}
    {% include js.html %}

  </body>
</html>
